body {
	margin: 0 auto;
}

/* tete de page */

header.header {
	display: flex;
	align-items: center;
	height: 150px;
}


header.header img {
	width: 150px;
}

p{
	color: white;
	font-size: 20px;
	text-align: center;
}

#serv_pa{
	font-size: 200%;
}

#serv_pb{
	font-size: 200%;
}

#serv_pc{
	font-size: 200%;
}

section.top-page {
	background: url(../img/fond_numerique_noir.jpg);
	background-size: cover;
	height: 100vh;
	padding: 25px;

}

#h_serv{
	text-align: center;
	color: white;
	font-size: 40px;
}

#where{
	position: absolute;
	left: 1100px;
	top: 700px;
	font-size: 40px;
}

.services{
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 600px 600px 600px;
	height: 120px;
	border: 2px solid #094fa5;
}
h2.a {
	color: aliceblue;
	font-size: 40px;
	padding: 20px 50px;
	text-align: center;
}



/* menu naviguation */
nav.nav {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 400px;
	margin-left: 900px;
	font-size: 150%;
}


a {
	color: aliceblue;
	text-decoration: none;
	

}

a:hover {
	color: #ff0704;
	bottom: -3px;
	width: 100%;
}



nav.nav li {
	
	color: aliceblue;
}


#titre1 {
	color: #ffffff;
	font-size: 80px;
	font-style: oblique;
	margin: 50px;
	
}



/* bas de page */


#b {
	
	color: #fff;
	margin-right: 100px;
	
}

#copyright {
	
	color: #fff;
	margin-left: 50px;
}


footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px;
	background-color: #094fa5;
}
